.footer {
   background-color: #0A0A0A;
}

.footer-wrapper {
   color: #717171;
   display: flex;
   justify-content: space-between;
   padding: 50px 0;
   align-items: center;
}

.footer-link {
   flex-grow: 1;
   flex-basis: 0;
}